doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Grif's Sealcoating
        link(rel="stylesheet", href="vendor/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="vendor/bootstrap/css/yeti-bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
    body
        header
            hgroup
                h1 Grif's Sealcoating
        nav
            ul
                li: a(href="#") Home
        section a section... maybe use...
            article some article
        footer yadda yadda yadda yadda

        script(src="vendor/jquery-2.1.0.min.js")
        script(src="vendor/bootstrap/js/bootstrap.min.js")
        script(src="js/script.js")
