doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Grif's Sealcoating
        != getBlock("meta").toHTML()
        != getBlock("styles").add(["vendor/bootstrap/css/bootstrap.min.css","vendor/bootstrap/css/yeti-bootstrap.min.css","css/style.css"]).toHTML()
    body
        header
            hgroup
                h1 Grif's Sealcoating
        nav
            ul
                li: a(href="#") Home
        section a section... maybe use...
            article some article
        footer yadda yadda yadda yadda

        != getBlock("scripts").add(["vendor/jquery-2.1.0.min.js","vendor/bootstrap/js/bootstrap.min.js","js/script.js"]).toHTML()
