---
layout: "base_template"
---
.page-header
    h1 Grif's Sealcoating & Striping
    p.text-danger We are proud to meet all of Middle Tennessee's sealcoating and striping needs.

section
    !=content